body {
    background-image: url(../images/Dr-Who-Desktop-Wallpapers-020.jpg);
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #18103a;
    overflow: scroll;
    text-align: center;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 80px;
    margin: 30px auto 0px auto;   
}

#question{
    margin: 40px;
    font-size: 32px;
}

.main{
    text-align: center;
}

.answer-choice {
    margin: 5px auto;
}

button {
    width: 550px;
    height: 44px;
    font-weight: bold;
    display: block;
    margin: 5px;
    border-radius: 20px;
}

button:hover{
    background-color: #91a6eb;
}

#start{
    width: 150px;
    height: 60px;
    margin: 0 auto;
}

#timer{
    height: 20px;
    color: #9c0b0b;
    font-weight: bolder;
    font-size: 60px;
}

.end{
    font-size: 38px;
}

