body {
    background-image: url(../images/Dr-Who-Desktop-Wallpapers-020.jpg);
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #18103a;
    overflow: scroll;
    text-align: center;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    margin: 30px auto;
    
}

#question{
    margin: 20px;
}

.main{
    text-align: center;
}

.answer-choices {
    margin: 5px auto;
}

button {
    width: 550px;
    height: 44px;
    font-weight: bold;
    display: block;
    margin: 5px;
}

#start{
    width: 150px;
    height: 60px;
    margin: 0 auto;
}

.giphy-embed{
    margin: 0 auto;
}
